.vs/finance-tracker-api/DesignTimeBuild/.dtbcache.v2
.vs/finance-tracker-api/FileContentIndex/01a6a70f-20a8-4a29-a7a2-cf25e80819e1.vsidx
.vs/finance-tracker-api/FileContentIndex/1a4ce096-b7bd-4db8-bf76-704087fdcc86.vsidx
.vs/finance-tracker-api/FileContentIndex/37bd70dd-d197-453c-9a97-54f6eab243aa.vsidx
.vs/finance-tracker-api/v17/.futdcache.v2
.vs/finance-tracker-api/v17/.wsuo
.vs/finance-tracker-api/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
FinanceTracker/.vs/FinanceTracker/config/applicationhost.config
FinanceTracker/.vs/FinanceTracker/CopilotIndices/17.14.939.21063/CodeChunks.db
FinanceTracker/.vs/FinanceTracker/CopilotIndices/17.14.939.21063/CodeChunks.db-shm
FinanceTracker/.vs/FinanceTracker/CopilotIndices/17.14.939.21063/CodeChunks.db-wal
FinanceTracker/.vs/FinanceTracker/CopilotIndices/17.14.939.21063/SemanticSymbols.db
FinanceTracker/.vs/FinanceTracker/CopilotIndices/17.14.939.21063/SemanticSymbols.db-shm
FinanceTracker/.vs/FinanceTracker/CopilotIndices/17.14.939.21063/SemanticSymbols.db-wal
FinanceTracker/.vs/FinanceTracker/DesignTimeBuild/.dtbcache.v2
FinanceTracker/.vs/FinanceTracker/FileContentIndex/44078f87-e796-4ff9-9f21-67f0a1b2a21c.vsidx
FinanceTracker/.vs/FinanceTracker/v17/.futdcache.v2
FinanceTracker/.vs/FinanceTracker/v17/.suo
FinanceTracker/bin/Debug/net8.0/appsettings.Development.json
FinanceTracker/bin/Debug/net8.0/appsettings.json
FinanceTracker/bin/Debug/net8.0/FinanceTracker.deps.json
FinanceTracker/bin/Debug/net8.0/FinanceTracker.dll
FinanceTracker/bin/Debug/net8.0/FinanceTracker.exe
FinanceTracker/bin/Debug/net8.0/FinanceTracker.pdb
FinanceTracker/bin/Debug/net8.0/FinanceTracker.runtimeconfig.json
FinanceTracker/bin/Debug/net8.0/FinanceTracker.staticwebassets.endpoints.json
FinanceTracker/bin/Debug/net8.0/Microsoft.OpenApi.dll
FinanceTracker/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
FinanceTracker/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
FinanceTracker/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
FinanceTracker/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FinanceTracker/obj/Debug/net8.0/ApiEndpoints.json
FinanceTracker/obj/Debug/net8.0/apphost.exe
FinanceTracker/obj/Debug/net8.0/EndpointInfo/FinanceTracker.json
FinanceTracker/obj/Debug/net8.0/EndpointInfo/FinanceTracker.OpenApiFiles.cache
FinanceTracker/obj/Debug/net8.0/FinanceT.7E14CD64.Up2Date
FinanceTracker/obj/Debug/net8.0/FinanceTracker.AssemblyInfo.cs
FinanceTracker/obj/Debug/net8.0/FinanceTracker.AssemblyInfoInputs.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.assets.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.csproj.AssemblyReference.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.csproj.BuildWithSkipAnalyzers
FinanceTracker/obj/Debug/net8.0/FinanceTracker.csproj.CoreCompileInputs.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.csproj.FileListAbsolute.txt
FinanceTracker/obj/Debug/net8.0/FinanceTracker.dll
FinanceTracker/obj/Debug/net8.0/FinanceTracker.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker/obj/Debug/net8.0/FinanceTracker.genruntimeconfig.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.GlobalUsings.g.cs
FinanceTracker/obj/Debug/net8.0/FinanceTracker.MvcApplicationPartsAssemblyInfo.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.MvcApplicationPartsAssemblyInfo.cs
FinanceTracker/obj/Debug/net8.0/FinanceTracker.pdb
FinanceTracker/obj/Debug/net8.0/ref/FinanceTracker.dll
FinanceTracker/obj/Debug/net8.0/refint/FinanceTracker.dll
FinanceTracker/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
FinanceTracker/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
FinanceTracker/obj/Debug/net8.0/rpswa.dswa.cache.json
FinanceTracker/obj/Debug/net8.0/staticwebassets.build.endpoints.json
FinanceTracker/obj/Debug/net8.0/staticwebassets.build.json
FinanceTracker/obj/Debug/net8.0/staticwebassets.build.json.cache
FinanceTracker/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
FinanceTracker/obj/Debug/net8.0/staticwebassets.removed.txt
FinanceTracker/obj/FinanceTracker.csproj.nuget.dgspec.json
FinanceTracker/obj/FinanceTracker.csproj.nuget.g.props
FinanceTracker/obj/FinanceTracker.csproj.nuget.g.targets
FinanceTracker/obj/project.assets.json
FinanceTracker/obj/project.nuget.cache
FinanceTracker/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FinanceTracker/obj/Release/net8.0/FinanceTracker.AssemblyInfo.cs
FinanceTracker/obj/Release/net8.0/FinanceTracker.AssemblyInfoInputs.cache
FinanceTracker/obj/Release/net8.0/FinanceTracker.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker/obj/Release/net8.0/FinanceTracker.GlobalUsings.g.cs
*.props
Finance.Tracker.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Finance.Tracker.Domain/obj/Debug/net8.0/Finance.Tracker.Domain.AssemblyInfo.cs
Finance.Tracker.Domain/obj/Debug/net8.0/Finance.Tracker.Domain.AssemblyInfoInputs.cache
Finance.Tracker.Domain/obj/Debug/net8.0/Finance.Tracker.Domain.assets.cache
Finance.Tracker.Domain/obj/Debug/net8.0/Finance.Tracker.Domain.GeneratedMSBuildEditorConfig.editorconfig
Finance.Tracker.Domain/obj/Debug/net8.0/Finance.Tracker.Domain.GlobalUsings.g.cs
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.AssemblyInfo.cs
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.AssemblyInfoInputs.cache
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.assets.cache
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.GeneratedMSBuildEditorConfig.editorconfig
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.GlobalUsings.g.cs
Finance.Tracker.Domain/obj/Finance.Tracker.Domain.csproj.nuget.dgspec.json
Finance.Tracker.Domain/obj/Finance.Tracker.Domain.csproj.nuget.g.targets
Finance.Tracker.Domain/obj/FinanceTracker.Domain.csproj.nuget.dgspec.json
Finance.Tracker.Domain/obj/FinanceTracker.Domain.csproj.nuget.g.targets
Finance.Tracker.Domain/obj/project.assets.json
Finance.Tracker.Domain/obj/project.nuget.cache
FinanceTracker.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.AssemblyInfo.cs
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.AssemblyInfoInputs.cache
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.assets.cache
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.GlobalUsings.g.cs
FinanceTracker.Application/obj/FinanceTracker.Application.csproj.nuget.dgspec.json
FinanceTracker.Application/obj/FinanceTracker.Application.csproj.nuget.g.targets
FinanceTracker.Application/obj/project.assets.json
FinanceTracker.Application/obj/project.nuget.cache
FinanceTracker.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.AssemblyInfo.cs
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.AssemblyInfoInputs.cache
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.assets.cache
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.GlobalUsings.g.cs
FinanceTracker.Infrastructure/obj/FinanceTracker.Infrastructure.csproj.nuget.dgspec.json
FinanceTracker.Infrastructure/obj/FinanceTracker.Infrastructure.csproj.nuget.g.targets
FinanceTracker.Infrastructure/obj/project.assets.json
FinanceTracker.Infrastructure/obj/project.nuget.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.AssemblyInfo.cs
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.AssemblyInfoInputs.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.assets.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.csproj.AssemblyReference.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.GlobalUsings.g.cs
FinanceTracker/obj/FinanceTracker.API.csproj.nuget.dgspec.json
FinanceTracker/obj/FinanceTracker.API.csproj.nuget.g.targets
FinanceTracker/.vs/FinanceTracker/FileContentIndex/18c9dbeb-6a33-4ea9-9268-e8386a3e3b6a.vsidx
FinanceTracker/.vs/FinanceTracker/FileContentIndex/65254f3f-de2a-455e-94e0-0659ca66b57e.vsidx
FinanceTracker/.vs/FinanceTracker/FileContentIndex/773ec575-1443-475a-bf85-8c5285bf32d1.vsidx
FinanceTracker/.vs/FinanceTracker/FileContentIndex/9aff424a-c4a1-4a16-b999-b387618ffb6d.vsidx
FinanceTracker/.vs/FinanceTracker/FileContentIndex/c87512e6-0048-4bc0-9221-7707bd9aa443.vsidx
FinanceTracker.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FinanceTracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.AssemblyInfo.cs
FinanceTracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.AssemblyInfoInputs.cache
FinanceTracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.assets.cache
FinanceTracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.GlobalUsings.g.cs
FinanceTracker.Domain/obj/FinanceTracker.Domain.csproj.nuget.dgspec.json
FinanceTracker.Domain/obj/FinanceTracker.Domain.csproj.nuget.g.targets
FinanceTracker.Domain/obj/project.assets.json
FinanceTracker.Domain/obj/project.nuget.cache
FinanceTracker.Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.AssemblyInfo.cs
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.AssemblyInfoInputs.cache
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.assets.cache
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.GlobalUsings.g.cs
FinanceTracker.Tests/obj/FinanceTracker.Tests.csproj.nuget.dgspec.json
FinanceTracker.Tests/obj/FinanceTracker.Tests.csproj.nuget.g.targets
FinanceTracker.Tests/obj/project.assets.json
FinanceTracker.Tests/obj/project.nuget.cache
FinanceTracker/.vs/FinanceTracker.API/CopilotIndices/17.14.1091.29919/CodeChunks.db
FinanceTracker/.vs/FinanceTracker.API/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
FinanceTracker/.vs/FinanceTracker.API/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
FinanceTracker/.vs/FinanceTracker.API/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
FinanceTracker/.vs/FinanceTracker.API/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
FinanceTracker/.vs/FinanceTracker.API/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/002c5920-a01f-4fa8-8d1e-37d7e8321682.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/1e36b72a-3601-44b6-ac38-76a3792a4448.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/22751697-e2e7-47a1-808f-765f78917f07.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/91bbe110-c0df-4858-9852-38938df251b7.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/b3cfd141-de3b-4b0a-8631-5849c728908c.vsidx
FinanceTracker/.vs/FinanceTracker.API/v17/.suo
FinanceTracker/.vs/FinanceTracker.API/copilot-chat/73d9c111/sessions/de810c80-3d78-45af-89c5-2901a070037f
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/38572218-9906-4843-8aba-e6684dbaf12e.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/51658fa5-c483-4c9b-af50-0dad531aa94c.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/53ec2ed4-595c-4fc9-aff9-8404adbc7ac8.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/65e1acab-8cef-4fce-b64e-11555f399498.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/d7470db2-0c9a-4539-ad44-235332453346.vsidx
FinanceTracker/bin/Debug/net8.0/FinanceTracker.API.deps.json
FinanceTracker/bin/Debug/net8.0/FinanceTracker.API.dll
FinanceTracker/bin/Debug/net8.0/FinanceTracker.API.exe
FinanceTracker/bin/Debug/net8.0/FinanceTracker.API.pdb
FinanceTracker/bin/Debug/net8.0/FinanceTracker.API.runtimeconfig.json
FinanceTracker/bin/Debug/net8.0/FinanceTracker.API.staticwebassets.endpoints.json
FinanceTracker/obj/Debug/net8.0/FinanceT.A137E558.Up2Date
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.csproj.CoreCompileInputs.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.csproj.FileListAbsolute.txt
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.dll
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.genruntimeconfig.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.MvcApplicationPartsAssemblyInfo.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.MvcApplicationPartsAssemblyInfo.cs
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.pdb
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.sourcelink.json
FinanceTracker/obj/Debug/net8.0/ref/FinanceTracker.API.dll
FinanceTracker/obj/Debug/net8.0/refint/FinanceTracker.API.dll
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.csproj.CoreCompileInputs.cache
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.csproj.FileListAbsolute.txt
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.dll
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.pdb
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.sourcelink.json
Finance.Tracker.Domain/obj/Debug/net8.0/ref/FinanceTracker.Domain.dll
Finance.Tracker.Domain/obj/Debug/net8.0/refint/FinanceTracker.Domain.dll
FinanceTracker.Application/bin/Debug/net8.0/FinanceTracker.Application.deps.json
FinanceTracker.Application/bin/Debug/net8.0/FinanceTracker.Application.dll
FinanceTracker.Application/bin/Debug/net8.0/FinanceTracker.Application.pdb
FinanceTracker.Application/bin/Debug/net8.0/FinanceTracker.Domain.dll
FinanceTracker.Application/bin/Debug/net8.0/FinanceTracker.Domain.pdb
FinanceTracker.Application/bin/Debug/net8.0/FinanceTracker.Infrastructure.dll
FinanceTracker.Application/bin/Debug/net8.0/FinanceTracker.Infrastructure.pdb
FinanceTracker.Application/obj/Debug/net8.0/FinanceT.00C3F739.Up2Date
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.csproj.AssemblyReference.cache
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.csproj.CoreCompileInputs.cache
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.csproj.FileListAbsolute.txt
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.dll
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.pdb
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.sourcelink.json
FinanceTracker.Application/obj/Debug/net8.0/ref/FinanceTracker.Application.dll
FinanceTracker.Application/obj/Debug/net8.0/refint/FinanceTracker.Application.dll
FinanceTracker.Infrastructure/bin/Debug/net8.0/FinanceTracker.Domain.dll
FinanceTracker.Infrastructure/bin/Debug/net8.0/FinanceTracker.Domain.pdb
FinanceTracker.Infrastructure/bin/Debug/net8.0/FinanceTracker.Infrastructure.deps.json
FinanceTracker.Infrastructure/bin/Debug/net8.0/FinanceTracker.Infrastructure.dll
FinanceTracker.Infrastructure/bin/Debug/net8.0/FinanceTracker.Infrastructure.pdb
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceT.DB2F2188.Up2Date
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.csproj.AssemblyReference.cache
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.csproj.CoreCompileInputs.cache
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.csproj.FileListAbsolute.txt
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.dll
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.pdb
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.sourcelink.json
FinanceTracker.Infrastructure/obj/Debug/net8.0/ref/FinanceTracker.Infrastructure.dll
FinanceTracker.Infrastructure/obj/Debug/net8.0/refint/FinanceTracker.Infrastructure.dll
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.dll
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.pdb
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.sourcelink.json
FinanceTracker.Tests/obj/Debug/net8.0/ref/FinanceTracker.Tests.dll
FinanceTracker.Tests/obj/Debug/net8.0/refint/FinanceTracker.Tests.dll
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/074D3CC11F2438368C4DDD8A091351D1
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/133244355F31E31D6A2CBEDABE380373
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/2AEB698FE87D3629BF91058D86717AF2
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/2C23EF4843598F0B0F89B00B57EBB19A
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/3D2C0617C80697C0A5D573CC44BB33C5
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/43B41D310D3FDF65C56D9E9180967009
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/4C4B96CF5BE5DC7228D5D666DAE0BE66
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/527AD7C21E306E1CF1AE39294AA8CB47
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/5997A27C24378604922B9FA24F450A65
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/646639CCB344C4C3931669AF86A1E68B
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/9F54B90DA0A21A6319948FEA4CD04FF8
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/B3415658D1E18AC30837CCF157803402
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/B8BD051B0E9FD246563E1FEBA1DC3516
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/BC3D0600D27D1E5784E64259EE1F7BD7
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/EB718CE476832B7E41E83971A6A54929
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/F00339FB888D5994D9E6D6D06895798F
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/F10DBCF6C0C25000DFFE65B0514E27E2
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/3F3292D7B55E204A975AB4181FE0F352/F623045248F9642165E4B114A3ECFE61
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/03016B544F4B6EB13B04EFE9E92FCC61
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/074D3CC11F2438368C4DDD8A091351D1
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/133244355F31E31D6A2CBEDABE380373
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/2AEB698FE87D3629BF91058D86717AF2
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/2C23EF4843598F0B0F89B00B57EBB19A
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/33F2B6EFE13D690258D745B4DF3A9E5E
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/43B41D310D3FDF65C56D9E9180967009
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/4561B983EA0241D90BCC8DBD7BEA4BD9
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/57D2AB7506801FFB74F8928E0630408B
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/5997A27C24378604922B9FA24F450A65
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/6C46D1D287E296F4D8E78A3B939DCEA5
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/75A7C1D28D343AD2F51A8335230BFD2B
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/B3415658D1E18AC30837CCF157803402
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/B8BD051B0E9FD246563E1FEBA1DC3516
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/C8327587791C252D55AB16E40657236A
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/58736B5E44C13B48AFE78855A54436C6/F6E9EAA9D7FF8A7D778B135E5A319470
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/state.mpack
FinanceTracker/.vs/FinanceTracker.API/config/applicationhost.config
FinanceTracker/.vs/FinanceTracker.API/DesignTimeBuild/.dtbcache.v2
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/216f30b3-cbe6-45dd-aa1b-248e0389839e.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/4ba82eeb-f43e-4dc4-9983-2383251a7e4c.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/88e3e959-341f-40da-a110-81c623e51410.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/90eaabaa-7063-4e1d-87ca-2b5aaf414b6b.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/dd452240-ef53-49a7-9ed6-f1c8b9f02555.vsidx
FinanceTracker/bin/Debug/net8.0/Azure.Core.dll
FinanceTracker/bin/Debug/net8.0/Azure.Identity.dll
FinanceTracker/bin/Debug/net8.0/FinanceTracker.Application.dll
FinanceTracker/bin/Debug/net8.0/FinanceTracker.Application.pdb
FinanceTracker/bin/Debug/net8.0/FinanceTracker.Domain.dll
FinanceTracker/bin/Debug/net8.0/FinanceTracker.Domain.pdb
FinanceTracker/bin/Debug/net8.0/FinanceTracker.Infrastructure.dll
FinanceTracker/bin/Debug/net8.0/FinanceTracker.Infrastructure.pdb
FinanceTracker/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.Identity.Client.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
FinanceTracker/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
FinanceTracker/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
FinanceTracker/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
FinanceTracker/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
FinanceTracker/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
FinanceTracker/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
FinanceTracker/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
FinanceTracker/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
FinanceTracker/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
FinanceTracker/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
FinanceTracker/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
FinanceTracker/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
FinanceTracker/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
FinanceTracker/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
FinanceTracker/bin/Debug/net8.0/System.Drawing.Common.dll
FinanceTracker/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
FinanceTracker/bin/Debug/net8.0/System.Memory.Data.dll
FinanceTracker/bin/Debug/net8.0/System.Runtime.Caching.dll
FinanceTracker/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
FinanceTracker/bin/Debug/net8.0/System.Security.Permissions.dll
FinanceTracker/bin/Debug/net8.0/System.Windows.Extensions.dll
FinanceTracker.Tests/bin/Debug/net8.0/FinanceTracker.Tests.deps.json
FinanceTracker.Tests/bin/Debug/net8.0/FinanceTracker.Tests.pdb
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.csproj.CoreCompileInputs.cache
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.csproj.FileListAbsolute.txt
FinanceTracker.Tests/bin/Debug/net8.0/FinanceTracker.Tests.dll
FinanceTracker/obj/Debug/net8.0/EndpointInfo/FinanceTracker.API.json
FinanceTracker/obj/Debug/net8.0/EndpointInfo/FinanceTracker.API.OpenApiFiles.cache
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/074D3CC11F2438368C4DDD8A091351D1
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/2AEB698FE87D3629BF91058D86717AF2
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/2C23EF4843598F0B0F89B00B57EBB19A
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/3D67BE6776C3BAFC90007777A5DF1043
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/57C5284D41C1F1902CDFE36F3B393448
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/7C0063A390C4F45972FFF996504D3584
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/7C0CEC45F4A8D6EEDC94789CAA2B9190
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/908B95DADC9890EF3E5E62D6CA0BA485
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/B1B449F6FF92C4540E3B2DA974996C07
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/B3415658D1E18AC30837CCF157803402
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/B8BD051B0E9FD246563E1FEBA1DC3516
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/E168C34383AA1C3205E66EE99B7078AF
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/E593D8183A974DD9B1A2F98D44422C0D
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/F4E1A80E07558603002A7C699112BA40
FinanceTracker/.vs/CopilotSnapshots/800C81DE783DAF4589C52901A070037F/B85173654A99A64BB9C695F0150AB34F/F72D03E31AD834AFCE9D8D743264D214
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/1ea1918c-9078-402b-b7a8-f6ad15bfe24d.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/480fb95d-2f98-40b0-8e18-9a5af651aabe.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/a53c1aa9-3cef-4306-9651-f0795fb95d55.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/b8326ad5-797d-4eaa-ba9b-47308334c9f0.vsidx
