.vs/finance-tracker-api/DesignTimeBuild/.dtbcache.v2
.vs/finance-tracker-api/FileContentIndex/01a6a70f-20a8-4a29-a7a2-cf25e80819e1.vsidx
.vs/finance-tracker-api/FileContentIndex/1a4ce096-b7bd-4db8-bf76-704087fdcc86.vsidx
.vs/finance-tracker-api/FileContentIndex/37bd70dd-d197-453c-9a97-54f6eab243aa.vsidx
.vs/finance-tracker-api/v17/.futdcache.v2
.vs/finance-tracker-api/v17/.wsuo
.vs/finance-tracker-api/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
FinanceTracker/.vs/FinanceTracker/config/applicationhost.config
FinanceTracker/.vs/FinanceTracker/CopilotIndices/17.14.939.21063/CodeChunks.db
FinanceTracker/.vs/FinanceTracker/CopilotIndices/17.14.939.21063/CodeChunks.db-shm
FinanceTracker/.vs/FinanceTracker/CopilotIndices/17.14.939.21063/CodeChunks.db-wal
FinanceTracker/.vs/FinanceTracker/CopilotIndices/17.14.939.21063/SemanticSymbols.db
FinanceTracker/.vs/FinanceTracker/CopilotIndices/17.14.939.21063/SemanticSymbols.db-shm
FinanceTracker/.vs/FinanceTracker/CopilotIndices/17.14.939.21063/SemanticSymbols.db-wal
FinanceTracker/.vs/FinanceTracker/DesignTimeBuild/.dtbcache.v2
FinanceTracker/.vs/FinanceTracker/FileContentIndex/44078f87-e796-4ff9-9f21-67f0a1b2a21c.vsidx
FinanceTracker/.vs/FinanceTracker/v17/.futdcache.v2
FinanceTracker/.vs/FinanceTracker/v17/.suo
FinanceTracker/bin/Debug/net8.0/appsettings.Development.json
FinanceTracker/bin/Debug/net8.0/appsettings.json
FinanceTracker/bin/Debug/net8.0/FinanceTracker.deps.json
FinanceTracker/bin/Debug/net8.0/FinanceTracker.dll
FinanceTracker/bin/Debug/net8.0/FinanceTracker.exe
FinanceTracker/bin/Debug/net8.0/FinanceTracker.pdb
FinanceTracker/bin/Debug/net8.0/FinanceTracker.runtimeconfig.json
FinanceTracker/bin/Debug/net8.0/FinanceTracker.staticwebassets.endpoints.json
FinanceTracker/bin/Debug/net8.0/Microsoft.OpenApi.dll
FinanceTracker/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
FinanceTracker/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
FinanceTracker/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
FinanceTracker/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FinanceTracker/obj/Debug/net8.0/ApiEndpoints.json
FinanceTracker/obj/Debug/net8.0/apphost.exe
FinanceTracker/obj/Debug/net8.0/EndpointInfo/FinanceTracker.json
FinanceTracker/obj/Debug/net8.0/EndpointInfo/FinanceTracker.OpenApiFiles.cache
FinanceTracker/obj/Debug/net8.0/FinanceT.7E14CD64.Up2Date
FinanceTracker/obj/Debug/net8.0/FinanceTracker.AssemblyInfo.cs
FinanceTracker/obj/Debug/net8.0/FinanceTracker.AssemblyInfoInputs.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.assets.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.csproj.AssemblyReference.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.csproj.BuildWithSkipAnalyzers
FinanceTracker/obj/Debug/net8.0/FinanceTracker.csproj.CoreCompileInputs.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.csproj.FileListAbsolute.txt
FinanceTracker/obj/Debug/net8.0/FinanceTracker.dll
FinanceTracker/obj/Debug/net8.0/FinanceTracker.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker/obj/Debug/net8.0/FinanceTracker.genruntimeconfig.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.GlobalUsings.g.cs
FinanceTracker/obj/Debug/net8.0/FinanceTracker.MvcApplicationPartsAssemblyInfo.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.MvcApplicationPartsAssemblyInfo.cs
FinanceTracker/obj/Debug/net8.0/FinanceTracker.pdb
FinanceTracker/obj/Debug/net8.0/ref/FinanceTracker.dll
FinanceTracker/obj/Debug/net8.0/refint/FinanceTracker.dll
FinanceTracker/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
FinanceTracker/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
FinanceTracker/obj/Debug/net8.0/rpswa.dswa.cache.json
FinanceTracker/obj/Debug/net8.0/staticwebassets.build.endpoints.json
FinanceTracker/obj/Debug/net8.0/staticwebassets.build.json
FinanceTracker/obj/Debug/net8.0/staticwebassets.build.json.cache
FinanceTracker/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
FinanceTracker/obj/Debug/net8.0/staticwebassets.removed.txt
FinanceTracker/obj/FinanceTracker.csproj.nuget.dgspec.json
FinanceTracker/obj/FinanceTracker.csproj.nuget.g.props
FinanceTracker/obj/FinanceTracker.csproj.nuget.g.targets
FinanceTracker/obj/project.assets.json
FinanceTracker/obj/project.nuget.cache
FinanceTracker/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FinanceTracker/obj/Release/net8.0/FinanceTracker.AssemblyInfo.cs
FinanceTracker/obj/Release/net8.0/FinanceTracker.AssemblyInfoInputs.cache
FinanceTracker/obj/Release/net8.0/FinanceTracker.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker/obj/Release/net8.0/FinanceTracker.GlobalUsings.g.cs
*.props
Finance.Tracker.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Finance.Tracker.Domain/obj/Debug/net8.0/Finance.Tracker.Domain.AssemblyInfo.cs
Finance.Tracker.Domain/obj/Debug/net8.0/Finance.Tracker.Domain.AssemblyInfoInputs.cache
Finance.Tracker.Domain/obj/Debug/net8.0/Finance.Tracker.Domain.assets.cache
Finance.Tracker.Domain/obj/Debug/net8.0/Finance.Tracker.Domain.GeneratedMSBuildEditorConfig.editorconfig
Finance.Tracker.Domain/obj/Debug/net8.0/Finance.Tracker.Domain.GlobalUsings.g.cs
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.AssemblyInfo.cs
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.AssemblyInfoInputs.cache
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.assets.cache
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.GeneratedMSBuildEditorConfig.editorconfig
Finance.Tracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.GlobalUsings.g.cs
Finance.Tracker.Domain/obj/Finance.Tracker.Domain.csproj.nuget.dgspec.json
Finance.Tracker.Domain/obj/Finance.Tracker.Domain.csproj.nuget.g.targets
Finance.Tracker.Domain/obj/FinanceTracker.Domain.csproj.nuget.dgspec.json
Finance.Tracker.Domain/obj/FinanceTracker.Domain.csproj.nuget.g.targets
Finance.Tracker.Domain/obj/project.assets.json
Finance.Tracker.Domain/obj/project.nuget.cache
FinanceTracker.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.AssemblyInfo.cs
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.AssemblyInfoInputs.cache
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.assets.cache
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker.Application/obj/Debug/net8.0/FinanceTracker.Application.GlobalUsings.g.cs
FinanceTracker.Application/obj/FinanceTracker.Application.csproj.nuget.dgspec.json
FinanceTracker.Application/obj/FinanceTracker.Application.csproj.nuget.g.targets
FinanceTracker.Application/obj/project.assets.json
FinanceTracker.Application/obj/project.nuget.cache
FinanceTracker.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.AssemblyInfo.cs
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.AssemblyInfoInputs.cache
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.assets.cache
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker.Infrastructure/obj/Debug/net8.0/FinanceTracker.Infrastructure.GlobalUsings.g.cs
FinanceTracker.Infrastructure/obj/FinanceTracker.Infrastructure.csproj.nuget.dgspec.json
FinanceTracker.Infrastructure/obj/FinanceTracker.Infrastructure.csproj.nuget.g.targets
FinanceTracker.Infrastructure/obj/project.assets.json
FinanceTracker.Infrastructure/obj/project.nuget.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.AssemblyInfo.cs
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.AssemblyInfoInputs.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.assets.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.csproj.AssemblyReference.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.GlobalUsings.g.cs
FinanceTracker/obj/FinanceTracker.API.csproj.nuget.dgspec.json
FinanceTracker/obj/FinanceTracker.API.csproj.nuget.g.targets
FinanceTracker/.vs/FinanceTracker/FileContentIndex/18c9dbeb-6a33-4ea9-9268-e8386a3e3b6a.vsidx
FinanceTracker/.vs/FinanceTracker/FileContentIndex/65254f3f-de2a-455e-94e0-0659ca66b57e.vsidx
FinanceTracker/.vs/FinanceTracker/FileContentIndex/773ec575-1443-475a-bf85-8c5285bf32d1.vsidx
FinanceTracker/.vs/FinanceTracker/FileContentIndex/9aff424a-c4a1-4a16-b999-b387618ffb6d.vsidx
FinanceTracker/.vs/FinanceTracker/FileContentIndex/c87512e6-0048-4bc0-9221-7707bd9aa443.vsidx
FinanceTracker.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FinanceTracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.AssemblyInfo.cs
FinanceTracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.AssemblyInfoInputs.cache
FinanceTracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.assets.cache
FinanceTracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker.Domain/obj/Debug/net8.0/FinanceTracker.Domain.GlobalUsings.g.cs
FinanceTracker.Domain/obj/FinanceTracker.Domain.csproj.nuget.dgspec.json
FinanceTracker.Domain/obj/FinanceTracker.Domain.csproj.nuget.g.targets
FinanceTracker.Domain/obj/project.assets.json
FinanceTracker.Domain/obj/project.nuget.cache
FinanceTracker.Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.AssemblyInfo.cs
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.AssemblyInfoInputs.cache
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.assets.cache
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.GeneratedMSBuildEditorConfig.editorconfig
FinanceTracker.Tests/obj/Debug/net8.0/FinanceTracker.Tests.GlobalUsings.g.cs
FinanceTracker.Tests/obj/FinanceTracker.Tests.csproj.nuget.dgspec.json
FinanceTracker.Tests/obj/FinanceTracker.Tests.csproj.nuget.g.targets
FinanceTracker.Tests/obj/project.assets.json
FinanceTracker.Tests/obj/project.nuget.cache
FinanceTracker/.vs/FinanceTracker.API/CopilotIndices/17.14.1091.29919/CodeChunks.db
FinanceTracker/.vs/FinanceTracker.API/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
FinanceTracker/.vs/FinanceTracker.API/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
FinanceTracker/.vs/FinanceTracker.API/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
FinanceTracker/.vs/FinanceTracker.API/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
FinanceTracker/.vs/FinanceTracker.API/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/002c5920-a01f-4fa8-8d1e-37d7e8321682.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/1e36b72a-3601-44b6-ac38-76a3792a4448.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/22751697-e2e7-47a1-808f-765f78917f07.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/91bbe110-c0df-4858-9852-38938df251b7.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/b3cfd141-de3b-4b0a-8631-5849c728908c.vsidx
FinanceTracker/.vs/FinanceTracker.API/v17/.suo
FinanceTracker/.vs/FinanceTracker.API/copilot-chat/73d9c111/sessions/de810c80-3d78-45af-89c5-2901a070037f
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/38572218-9906-4843-8aba-e6684dbaf12e.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/51658fa5-c483-4c9b-af50-0dad531aa94c.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/53ec2ed4-595c-4fc9-aff9-8404adbc7ac8.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/65e1acab-8cef-4fce-b64e-11555f399498.vsidx
FinanceTracker/.vs/FinanceTracker.API/FileContentIndex/d7470db2-0c9a-4539-ad44-235332453346.vsidx
FinanceTracker/bin/Debug/net8.0/FinanceTracker.API.deps.json
FinanceTracker/bin/Debug/net8.0/FinanceTracker.API.dll
FinanceTracker/bin/Debug/net8.0/FinanceTracker.API.exe
FinanceTracker/bin/Debug/net8.0/FinanceTracker.API.pdb
FinanceTracker/bin/Debug/net8.0/FinanceTracker.API.runtimeconfig.json
FinanceTracker/bin/Debug/net8.0/FinanceTracker.API.staticwebassets.endpoints.json
FinanceTracker/obj/Debug/net8.0/FinanceT.A137E558.Up2Date
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.csproj.CoreCompileInputs.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.csproj.FileListAbsolute.txt
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.dll
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.genruntimeconfig.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.MvcApplicationPartsAssemblyInfo.cache
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.MvcApplicationPartsAssemblyInfo.cs
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.pdb
FinanceTracker/obj/Debug/net8.0/FinanceTracker.API.sourcelink.json
FinanceTracker/obj/Debug/net8.0/ref/FinanceTracker.API.dll
FinanceTracker/obj/Debug/net8.0/refint/FinanceTracker.API.dll
